<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123965084-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123965084-1');
</script>

  {% include head.html %}

  <body class="{{ page.note }}">

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

     {% comment %}
       ##Don't use footer' 
       {% include footer.html %}
     {% endcomment %}
     
  </body>

</html>
