---
layout: default
---

<div id="home">

<div class="main">

<p>Robert is a Post-Doctoral Research Scientist in Computer Science at Columbia University working on crisis informatics, human-centered computing (HCC), and science and technology studies (STS). His research examines the  ways in which the computational tools and information standards that support our understandings of the environment shape and societal responses to disasters and climate change. Robert holds a PhD in Computer Science from the University of Colorado Boulder, a Master's Degree in Natural Resources and Sustainable Development from American University and Bachelors Degrees in History and Political Science from the University of Illinois, Chicago.</p>

<p>Prior to starting his PhD, Robert was a professional software developer and consultant to the World Bank’s <a href="http://gfdrr.org">Global Facility for Disaster Reduction and Recovery (GFDRR)</a>, where he launched the <a href="http://opendri.org">Open Data for Resilience Initiative</a>, a worldwide effort to harness open data, open source software, and civic technology to improve disaster and climate risk management.</p>

<p>While a PhD student at CU Boulder, Robert was also a visiting student researcher with University of California, Berkeley's <a href="http://cstms.berkeley.edu/">Center for Science, Technology, Medicine, and Society</a>, and a visiting researcher and lecturer with the <a href="http://urbanresilience.stanford.edu/">Stanford Urban Resilience Initiative</a>. Robert will join the University of Toronto in Fall 2020 as an Assistant Professor in <a href="https://web.cs.toronto.edu/">Computer Science</a> and the <a href="https://environment.utoronto.ca/">School of the Environment</a>. He will begin recruiting PhD and Master's Students in Fall 2020.</p>

<h2>Research Areas:</h2>
 <p>
  Crisis Informatics, human-computer interaction	(HCI), computer supported cooperative	work	
  (CSCW),	infrastructure studies,	critical design, participatory sensing, civic	technology, environmental justice
</p>

<h2>Teaching Areas:</h2>
<p>
  Introductory computer science and programming, HCI, social computing, user-centered design, qualitative research methods, ethics of technology and computing, science and technology studies (STS), information communication technology for development (ICTD)
 <p>

</p>


<h2>Online:</h2>
  <ul>
    <li><a href="files/rsoden-cv.pdf">My CV</a></li>
    <li><a href="https://scholar.google.com/citations?user=1vePPCkAAAAJ&hl=en">Google Scholar</a></li>
    <li><a href="https://www.linkedin.com/in/robertsoden/">Linkedin</a></li>
  </ul>
  
<h2>Contact:</h2>
  <p>robert dot soden at columbia dot edu</p>

</div>

<div class="news">
<h2>Recent News</h2> 
<ul>
<li><em>November, 2019 - </em>I co-organized a workshop on <a href="https://cscwhistory.com/">Fostering Historical Research in HCI and CSCW</a> at CSCW 2020 in Austin, TX.</a>	
	
<li><em>September, 2019 - </em>I gave a talk at called "Modes of Uncertainty: Negotiating Flood Risk Between Engineers, Bureaucrats, and Publics" at the Society for Social Studies of Science (4S) in New Orleans, LA.</a>		
	
<li><em>July, 2019 - </em>I started a one-year Post-Doc in Computer Science at Colubmia University where I work with <a href="https://engineering.columbia.edu/faculty/lydia-chilton">Lydia Chilton</a>.  
		
<li><em>May, 2019 - </em>I co-organized a workshop called <a href="https://chi4evil.wordpress.com/">CHI4Evil: Creative Speculations on the Negative Impacts of HCI Research</a> at CHI2019 in Glasgow, Scotland.
</ul>
  
</div>  

</div>
