---
layout: default
---

<div id="home">

<div class="main">

<p>Robert is a PhD Candidate in Computer Science at the University of Colorado Boulder working on crisis informatics, human-centered computing (HCC), and science and technology studies (STS). His research examines the  ways in which the computational tools and information standards that support our understandings of the environment shape and societal responses to disasters and climate change. Robert holds a Master's Degree in Natural Resources and Sustainable Development from American University and Bachelors Degrees in History and Political Science from the University of Illinois, Chicago.</p>

<p>Prior to starting his PhD, Robert was a professional software developer and consultant to the World Bank’s <a href="http://gfdrr.org">Global Facility for Disaster Reduction and Recovery (GFDRR)</a>, where he launched the <a href="http://opendri.org">Open Data for Resilience Initiative</a>, a worldwide effort to harness open data, open source software, and civic technology to improve disaster and climate risk management.</p>

<p>Robert is currently conducting fieldwork for his dissertation in Oakland, CA on information systems related to sea-level rise. While a student at CU Boulder, he has also been a visiting student researcher with University of California, Berkeley's <a href="http://cstms.berkeley.edu/">Center for Science, Technology, Medicine, and Society</a>, and a visiting researcher and lecturer with the <a href="http://urbanresilience.stanford.edu/">Stanford Urban Resilience Initiative</a>. Robert is on the job market AY 2018-19.</p>

<h2>Research Areas:</h2>
 <p>
  Crisis Informatics, human-computer interaction	(HCI), computer supported cooperative	work	
  (CSCW),	infrastructure studies,	critical design, particpatory sensing, civic	technology, environmental justice
</p>

<h2>Teaching Areas:</h2>
<p>
  Introductory computer science and programming, HCI, social computing, user-centered design, qualitative research methods, ethics of technology and computing, science and technology studies (STS), information communication technology for development (ICTD)
 <p>

</p>


<h2>Online:</h2>
  <ul>
    <li><a href="files/rsoden-cv.pdf">CV</a></li>
    <li><a href="https://scholar.google.com/citations?user=1vePPCkAAAAJ&hl=en">Google Scholar</a></li>
    <li><a href="https://www.linkedin.com/in/robertsoden/">Linkedin</a></li>
  </ul>
  
<h2>Contact:</h2>
  <p>robert dot soden at colorado dot edu</p>

</div>

<div class="news">
<h2>Recent News</h2> 
<ul>
<li><em>October 6, 2018 - </em>Our <a href="http://robertsoden.io/files/soden-lord-nepal-earthquake-mapping-repair.pdf">CSCW2018 paper</a> on the information systems used for damage assessment following the 2015 Nepal earthquake was awarded Honorable Mention for Best Paper.</li>
 <li><em>August 28, 2018 - </em>As part of a project funded by the <a href="http://www.data4sdgs.org/">United Nations Global Partnership for Sustainable Development Data</a>, I will present my research on the informatics of post-disaster damage assessment at the <a href="https://www.earthobservatory.sg/">Earth Observatory of Singapore.</a></li>
<li><em>August 8, 2018 - </em>Excited to have two papers, <a href="http://robertsoden.io/files/soden-lord-nepal-earthquake-mapping-repair.pdf"><em>Mapping Silences, Reconfiguring Loss: Practices of Damage Assessment & Narratives of Repair in Post-Earthquake Nepal</em></a>, coauthored with Austin Lord, and <a href="http://robertsoden.io/files/soden-palen-informating-crisis.pdf"><em>Informating Crisis: Expanding Critical Perspectives in Crisis Informatics</em></a>, with Leysia Palen, accepted to CSCW 2018. </li>
 <li><em>July 20, 2018 - </em>We have secured funding from several sources to host a month-long unconference, code sprint, and arts festival on flood preparedness and prevention in Chiang Mai, Thailand during June of 2019. Read more about the <a href="http://co-risk.org/chiang-mai-urban-flooding-field-lab/">Chiang Mai Urban Flooding Field Lab.</a></li>
 <li><em>May 17, 2018 - </em>I gave a talk titled "The Social Life of Disaster Data" at the bi-annual global forum on <a href="https://understandrisk.org/event/ur2018/">Understanding Risk</a> organized by the <a href="www.gfdrr.org">Global Facility for Disaster Reduction and Recovery</a>.</li>
  <li><em>April 21-22, 2018 - </em>I was selected to participate in this year's Doctoral Colloquium at CHI, Where I presented on my dissertation, "<a href="https://dl.acm.org/citation.cfm?id=3173027">Crisis Informatics in the Anthropocene: Disasters as Matters of Care and Concern</a>".</li>
</ul>
  
</div>  

</div>
